{% extends 'base2.html' %}

{% block content %}

<h2>Job Applications for {{ post.title }}</h2>

<ul>
    {% for application in job_applications %}
        <li>{{ application.applicant.username }} - {{ application.applicant.job_title }}</li>
    {% endfor %}
</ul>

{% if user.role == 'jobseeker' %}
    {% with user_applied_jobs=job_applications.filter(applicant=user) %}
        {% if not user_applied_jobs %}
            <div class="mt-3 text-center">
                <button id="applyBtn" class="btn btn-primary">Apply</button>
            </div>
        {% else %}
            <div class="mt-3 text-center">
                <button id="applyBtn" class="btn btn-primary" disabled>Applied</button>
            </div>
        {% endif %}
    {% endwith %}
{% endif %}



{% endblock %}



